.navbar {
      width: 100%;
      height: 10vh;
      background-color: #F3C5C5;
}

.header {
      width: 100%;
      height: 10vh;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.logo {
      font-size: 2rem;
      color: #694E4E;
}


.menubar {
      display: flex;
      list-style: none;
}

.menubar li{
      margin-right: 1rem;
}

.menubar li a {
      font-size: 1.1rem;
      padding: 0.5rem 1rem;
      border-radius: 15px;
}

.menubar li a.active {
      background-color: #C1A3A3;
}

