
.MainPage .container{
      width: 50%;
}

.MainPage .container .widget {
      margin: 1rem;
      padding: 1.2rem;
      width: 100%;
      height: 5   0em;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 3px rgb(107, 107, 107);
      
}

.MainPage .container .widget .anthor {
      display: flex;
      justify-content: space-between;
}


.MainPage .container .widget .images {
      width: 100%;
      height: 40em;
      overflow: hidden;
      padding: 1rem;
      display: flex;
      justify-content: center;
      
}

.MainPage .container .widget .images img{
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
      
}


.MainPage .container .widget .footer {
      padding: 1rem;
}

.MainPage .container .widget .footer .write-discription{
      height: 20em;
}

.MainPage .container .widget .footer .write-footer {
      margin-top: 2rem;
      display: flex;
      justify-content: flex-end;
}

.MainPage .container .widget .footer .write-footer button {
      margin-right: 1rem;
}
