@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: 'Prompt', sans-serif;
}


.container {
      width: 70%;
      margin: 0px auto;
}

.section {
      width: 100%;
      height: 100%;
}

.btn {
      padding: 0.5rem 2rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}

.btn-primary {
      background-color: #007bff;
      color: white;
}


.btn-danger {
      background-color: #dc3545;
      color: white;
}

.btn-success {
      background-color: #28a745;
      color: white;
}


.footer-place {
      width: 100%;
      height: 20em;
      background-color: #000;
}